<p>Hiện tại, trại trẻ của chúng tôi chỉ cho phép người dùng đăng ký để nhận thông tin trẻ em đang chờ được
    nhận nuôi.</p>
<p>Về việc đăng ký nhận con nuôi, bạn vui lòng thực hiện thủ tục trực tiệp tại trại trẻ và thông qua cơ quan
    nhà nước có thẩm quyền theo đúng quy định pháp luật.
</p>
<p>Bạn có thể tham khảo thêm về quy định của chúng tôi <a href='http://localhost:3001/adoption-info'>tại đây</a></p>
<p>Hoặc đăng ký nhận thông tin trẻ đang chờ được nhận nuôi <a href='http://localhost:3001/adoption'>tại đây</a></p>

