<p>Bạn có thể tham gia tài trợ cho trại trẻ của chúng tôi tại
    <a href='http://localhost:3001/donation'>Tài trợ ngay</a></p>
<p>Tham gia tài trợ cho trại trẻ của chúng tôi bằng cách cung cấp thông tin cá nhân và thông tin liên lạc của
    bạn. Chỉ định số tiền cần tài trợ và thực hiện thanh toán thông qua VNPay.
</p>
<p>Bạn có thể tài trợ theo các chiến dịch mà trại trẻ của chúng tôi đang kêu gọi. Hoặc bạn có thể tài trợ cho
    các gia đình trong trại trẻ của chúng tôi.</p>
<p>Bạn có thể theo dõi thông tin về khoản tài trợ của bạn sau khi tài trợ. Chúng tôi sẽ thông tin đến bạn về
    khoản tài trợ thông qua địa chỉ email của bạn hoặc bạn có thể theo dõi khoản tài trợ của mình trên website.
</p>
