<p>Sau khi bạn thực hiện tài trợ trên website của chung tôi, bạn sẽ nhận được một email thông báo về khoản tài
    trợ của mình ở địa chỉ email mà bạn đã cung cấp</p>
<p>
    Thông tin về việc sử dụng tài trợ của bạn cũng sẽ được chúng tôi thông báo đến bạn qua email.
</p>

<p>Hoặc bạn có thể kiểm tra thông tin về các khoản tài trợ của bạn thông qua website của chung tôi <a
        href='http://localhost:3001/donation/tracking'> tại đây.</a></p> Bằng cách cung cấp mã nhà tài trợ hoặc mã
tài trợ mà chúng tôi đã gửi đến bạn qua email.
</p>
